spring:
  profiles:
    default: prod
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace